<web-app>
<servlet>
<servlet-name>Store</servlet-name>
<servlet-class>Store</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Store</servlet-name>
<url-pattern>/Store</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Registration</servlet-name>
<servlet-class>Registration</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Registration</servlet-name>
<url-pattern>/Registration</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>RegDisplay</servlet-name>
<servlet-class>RegDisplay</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>RegDisplay</servlet-name>
<url-pattern>/RegDisplay</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Servlet1</servlet-name>
<servlet-class>Servlet1</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Servlet1</servlet-name>
<url-pattern>/Servlet1</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>Servlet2</servlet-name>
<servlet-class>Servlet2</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Servlet2</servlet-name>
<url-pattern>/Servlet2</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>UserBean</servlet-name>
<servlet-class>UserBean</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>UserBean</servlet-name>
<url-pattern>/UserBean</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>MyProjects</servlet-name>
<servlet-class>MyProjects</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>MyProjects</servlet-name>
<url-pattern>/MyProjects</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>MyProjects_insert</servlet-name>
<servlet-class>MyProjects_insert</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>MyProjects_insert</servlet-name>
<url-pattern>/MyProjects_insert</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Login</servlet-name>
<servlet-class>Login</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Login</servlet-name>
<url-pattern>/Login</url-pattern>
</servlet-mapping>

</web-app>
