@charset "utf-8";
/* CSS Document */
a{
	text-decoration:none;
}
#link
{
	 color:#ccc;
	 text-decoration:none;
	 font-family:"Comic Sans MS", cursive;
	 font-stretch:expanded;
	 font-style:italic;
}

#reg {
	color: #F00;
	 
	 text-decoration:blink;
	 }
#note
{
	font-size:10pt;
	color:purple;
}